---
layout: default
title: TASKS
css: static/CSS/tasks.css
js: static/JS/tasks.js
change_theme: true
---


<div class="row task-list" id="row1">
  <div class="tasks important" id="explain"> 
    <h4><b>Winners of BITS 2020 has been announced in the LeaderBoard page !</b><br> <br>After competing for over a month, 
    We are excited to announce the Winners of BITS 2020.
    We want to congratulate all of the Anandians who took part in this year’s BITS competition. Great job!</h4>
    
    </div>
{% for Atask in site.data.Atasks %}

<div class="tasks important" id="atask"> 
  <h4>{{Atask.caption}} <button type="button" class="btn btn-primary" id="id">Task ID : {{Atask.id}} </button></h4>
  <p>{{Atask.description}}</p>
  
  <div class="buttons">

    <a class="btn btn-info" href="{{Atask.pdfURL}}" id="catocery">Task
      Information</a>
      
    <button type="button" class="btn btn-primary" id="catocery">{{Atask.category}} </button>
  </div>
    
</div>
{% endfor %}
  {% for task in site.data.tasks %}
  <div class="tasks task-cat {{task.category}}">
    
    <h4>{{task.caption}} <button type="button" class="btn btn-primary" id="id">Task ID : {{task.id}} </button></h4>
    <p>{{task.description}}</p>
    
    <div class="buttons">

      <a class="btn btn-info" href="{{task.pdfURL}}" id="catocery">Task
        Information</a>
        
      <button type="button" class="btn btn-primary" id="catocery">{{task.category}} </button>
    </div>
  
</div>
  {% endfor %}

</div>
