<!-- Footer -->
<footer class="page-footer font-small black pt-4 " style="background-color: rgb(56, 56, 56); color: rgb(255, 255, 255);">

  <style>
    a { color: rgb(255, 255, 255); } /* CSS link color */
  </style>

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="width: 100%;">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255, 255, 255);" >About BITS</h5>
          <p style="color: rgb(255, 255, 255);">BITS, The First-Ever Task-Based Intra-School ICT competition, 
              organized by the Ananda College ICT Society to provide a platform for our school's 
              students to polish and improve their ICT knowledge in many fields of ICT.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- 
        <div class="col-md-2 mx-auto" >
  
          
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255, 255, 255);">Directions</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://acicts.github.io/BITS20/index.html">Home</a>
            </li>
            <li>
              <a href="https://acicts.github.io/BITS20/index.html">Tasks</a>
            </li>
            <li>
         <a href="https://acicts.github.io/BITS20/onlinetest.html">Online Test</a>
            </li>
            <li>
              <a href="">Leaderoard</a>
            </li>
            <li>
                <a href="acicts.github.io/BITS20/about.html">About</a>
            </li>
            <li>
                <a href="acicts.github.io/BITS20/contact.html">Contact</a>
            </li>
          </ul>
  
        </div>
         -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255, 255, 255);">Resources</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://acicts.github.io/bits-official/">BITS 2018 Archived Website</a>
            </li>
            <li>
              <a href="https://acicts.github.io/BITS-18-Recap/">BITS 2018 Recap Website</a>
            </li>
            <li>
              <a href="https://acicts.github.io/BITS19/">BITS 2019 Archived Website</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="color: rgb(255, 255, 255);">Get Involved !</h5>
      </li>
      <li class="list-inline-item">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyiQFQWdhvyFRMa-D1eAhWVCC6w_z0ycWBBOnq7MgBxDXsGw/viewform?fbzx=-310011898092864180" class="btn btn-danger btn-rounded" target="_blank">Register</a>
      </li>
    </ul>
    <!-- Call to action -->
  
    <hr>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://acicts.lk/"> ACICTS</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
