<!-- Footer -->
<footer class="page-footer font-small black pt-4" style="background-color: rgb(56, 56, 56); color: rgb(255, 255, 255);">

    <style>
        a { color: rgb(255, 255, 255); } /* CSS link color */
      </style>

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="width: 100%;">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255, 255, 255);" >About BITS</h5>
          <p style="color: rgb(255, 255, 255);">BITS, The First-Ever Task-Based Intra-School ICT competition, 
              organized by the Ananda College ICT Society to provide a platform for our school's 
              students to polish and improve their ICT knowledge in many fields of ICT.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto" >
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255, 255, 255);">Directions</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="../index.html">Home</a>
            </li>
            <li>
              <a href="../tasks.html">Tasks</a>
            </li>
            <li>
         <a href="../onlinetest.html">Online Test</a>
            </li>
            <li>
              <a href="../leaderboard.html">leaderBoard</a>
            </li>
            <li>
                <a href="../about.html">About</a>
            </li>
            <li>
                <a href="../contact.html">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: rgb(255, 255, 255);">Resources</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Bits 2018 Recap</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1" style="color: rgb(255, 255, 255);">Get Involved !</h5>
      </li>
      <li class="list-inline-item">
        <a href="#!" class="btn btn-danger btn-rounded">Register</a>
      </li>
    </ul>
    <!-- Call to action -->
  
    <hr>
  
    <!-- Social buttons 
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
     Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://acicts.io/"> ACICTS</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->