@import "compass/css3";

body {
  background-color: var(--bg-color);
}

:root {
  --primary-color: rgb(32, 32, 32);
  --secondary-color: #2c2c2c;
  --font-color: #202020;
  --bg-color: rgb(226, 226, 226);
  --heading-color: #c5c5c5;
}

[data-theme="dark"] {
  --primary-color: rgb(226, 226, 226);
  --secondary-color: #2c2c2c;
  --font-color: #ffffff;
  --bg-color: #00000f;
  --heading-color: #000a2b9a;
}

.logo {
  height: 100px;
}

#dark-light {
  color: rgb(255, 255, 255);
}

nav ul {
  list-style: none;
  padding: 0;
  background: #444;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  padding: .8rem 1rem;
  display: block;
  line-height: 1;
}

nav ul li {
  border-bottom: 1px dotted #ddd;
}

nav div:first-child {
  background: #222;
}

nav div:first-child h1 {
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
}

nav div:first-child h1,
nav ul {
  margin: 0;
}

.theme-switch-wrapper {
  padding: 1%;
  /* background-color: var(--font-color); */
  display: flex;
  align-items: center;
  overflow: hidden
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 10px;
}

.theme-switch input {
  display: none;
}

.slider {
  color: var(--font-color);
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--bg-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: rgba(255, 255, 255, 0.4);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (min-width:30em) {
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
  }

  nav div:first-child h1 {
    padding: 0;
    margin-left: 1rem;
  }

  nav div:first-child img {
    height: 120px;
  }

  nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }

  nav ul li a {
    padding: 1.2rem 1rem
  }

  nav ul li a::before,
  nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: cyan;
    transition: .2s width ease-in-out;
  }

  nav ul li a::before {
    left: 0;
  }

  nav ul li a:hover::after,
  nav ul li a:hover::before {
    width: 50%;
  }
}

.bits {
  width: 100%;
  height: 30%;
  background-color: var(--secondary-color);
  padding: 2%;
}

.info {
  color: #f1f1f1;
  width: 40%;
  margin: auto;
  text-align: center;
}


.flex-container {
  width: 80%;
  padding: 0;
  margin: auto;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container h6 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
}

.flex-item {
  width: 300px;
  height: 330px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px var(--font-color);
  -moz-box-shadow: 0px 0px 5px 1px var(--font-color);
  box-shadow: 0px 0px 5px 1px var(--font-color);

}


.container1 {
  padding: 0%;
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  display: block;
  width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  color: white;
}

.overlay p {
  text-align: center;
}

.container1:hover .overlay {
  opacity: 40;
}


@media only screen and (max-width: 576px) {
  .bits {
    height: 40%;
  }

  .info {
    width: 90%;
  }

}