@import "compass/css3";

body {
  background-color: var(--bg-color);
}

[data-theme="dark"] {
  --primary-color: rgb(32, 32, 32);
  --secondary-color: #2c2c2c;
  --font-color: #202020;
  --bg-color: rgb(226, 226, 226);
  --heading-color: #c5c5c5;
}

:root {
  --primary-color: rgb(226, 226, 226);
  --secondary-color: #2c2c2c;
  --font-color: #ffffff;
  --bg-color: #00000f;
  --heading-color: #000a2b9a;
}

.bits {
  width: 100%;
  height: 30%;
  background-color: var(--secondary-color);
  padding: 2%;
}

.info {
  color: #f1f1f1;
  width: 40%;
  margin: auto;
  text-align: center;
}


.flex-container {
  width: 80%;
  padding: 0;
  margin: auto;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-container h6 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
}

.flex-item {
  width: 300px;
  height: 330px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px var(--font-color);
  -moz-box-shadow: 0px 0px 5px 1px var(--font-color);
  box-shadow: 0px 0px 5px 1px var(--font-color);

}


.container1 {
  padding: 0%;
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  display: block;
  width: 300px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  color: white;
}

.overlay p {
  text-align: center;
}

.container1:hover .overlay {
  opacity: 40;
}


@media only screen and (max-width: 576px) {
  .bits {
    height: 40%;
  }

  .info {
    width: 90%;
  }

}