@import "compass/css3";

body {
  background-color: var(--bg-color);
  color: blanchedalmond;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

:root {
  --primary-color: rgb(32, 32, 32);
  --secondary-color: #2c2c2c;
  --font-color: #202020;
  --bg-color: rgb(226, 226, 226);
  --heading-color: #c5c5c5;
}

[data-theme="dark"] {
  --primary-color: rgb(226, 226, 226);
  --secondary-color: #818cab;
  --font-color: #ffffff;
  --bg-color: #00001f;
  --heading-color: #000516;
}

.logo {
  height: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  background: #444;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  padding: .8rem 1rem;
  display: block;
  line-height: 1;
}

nav ul li {
  border-bottom: 1px dotted #ddd;
}

nav div:first-child {
  background: #222;
}

nav div:first-child h1 {
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
}

nav div:first-child h1,
nav ul {
  margin: 0;
}

@media only screen and (min-width:30em) {
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
  }

  nav div:first-child h1 {
    padding: 0;
    margin-left: 1rem;
  }

  nav div:first-child img {
    height: 120px;
  }

  nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }

  nav ul li a {
    padding: 1.2rem 1rem
  }

  nav ul li a::before,
  nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: cyan;
    transition: .2s width ease-in-out;
  }

  nav ul li a::before {
    left: 0;
  }

  nav ul li a:hover::after,
  nav ul li a:hover::before {
    width: 50%;
  }
}

/* _________________________________________________________________________________________________________________________________________________________________ */

.social {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.phone {
  padding: 0;
  margin-top: 80px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.chat {
  background: var(--heading-color);
  padding: 1%;
  width: 300px;
  height: 160px;
  margin-top: 10px;
  border-color: var(--font-color) 2px;

  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.call {
  background: var(--heading-color);
  padding: 1%;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  border-color: var(--font-color) 2px;

  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.theme-switch-wrapper {
  padding: 1%;
  /* background-color: var(--font-color); */
  display: flex;
  align-items: center;
  overflow: hidden
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin: 10px;
}

.theme-switch input {
  display: none;
}

.slider {
  color: var(--font-color);
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--bg-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: rgba(255, 255, 255, 0.4);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h5 {
  font-weight: bolder;
  color: var(--primary-color);
}

h6 {
  font-weight: lighter;
  font-size: 13px;
}

/* Demo */


/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  display: -webkit-box;
  display: flex;
}

.social-icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--discord {
  background: #006599;
  color: rgb(0, 0, 0);
}
.social-icon--discord .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--discord .tooltip:after {
  border-top-color: #006599;
}
.social-icon--telegram {
  background: #2b97f1;
  color: #fff;
}
.social-icon--telegram .tooltip {
  background: #2b97f1;
  color: currentColor;
}
.social-icon--telegram .tooltip:after {
  border-top-color: #2b97f1;
}
.social-icon--whatsapp {
  background: rgb(255, 255, 255);
  color: rgb(50, 160, 78);
}
.social-icon--whatsapp .tooltip {
  background: rgb(255, 255, 255);
  color: currentColor;
}
.social-icon--whatsapp .tooltip:after {
  border-top-color: rgb(255, 255, 255);
}
.social-icon--call {
  background: #00be49;
  color: #fff;
}
.social-icon--call .tooltip {
  background: #00b652;
  color: currentColor;
}
.social-icon--call .tooltip:after {
  border-top-color: #00be49;
}
.social-icon--instagram {
  background: #527fa6;
  color: #fff;
}
.social-icon--instagram .tooltip {
  background: #527fa6;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #527fa6;
}
.social-icon--slack {
  background: #ef5a92;
  color: #fff;
}
.social-icon--slack .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--slack .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #4284c0;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #4284c0;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.contact {
  font-size: medium;
  margin-top: 30px;
  
}