@import "compass/css3";

body {
  background-color: var(--bg-color);
  color: blanchedalmond;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

:root{ 
  --primary-color: rgb(32, 32, 32);
  --secondary-color: #2c2c2c;
  --font-color: #202020;
  --bg-color: rgb(226, 226, 226);
  --heading-color: #c5c5c5;
  
  --chat-color: aqua;
}

[data-theme="dark"] {
  --primary-color: rgb(226, 226, 226);
  --secondary-color: #818cab;
  --font-color: #ffffff;
  --bg-color: #00000f;
  --heading-color: #000a2b9a;
  --chat-color: rgb(41, 41, 41);
}

p {
  color: var(--font-color);
}

/* _________________________________________________________________________________________________________________________________________________________________ */

.social {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.phone {
  padding: 0;
  margin: 80px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  
}

.chat {
  background: var(--heading-color);
  padding: 1%;
  width: 300px;
  height: 170px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  -moz-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  box-shadow: 0px 0px 5px 1px var(--secondary-color);
}

.chat a {
  color: var(--chat-color);
}

.call {
  background: var(--heading-color);
  padding: 1%;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  -moz-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  box-shadow: 0px 0px 5px 1px var(--secondary-color);
}

h5 {
  font-weight: bolder;
  color: var(--primary-color);
}

h6 {
  font-weight: lighter;
  font-size: 13px;
  color: var(--font-color);
}

/* Demo */


/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.social-icons {
  width: 240px;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  width: 45px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.social-icon:hover {
  color: #fff;
}
.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.social-icon--discord {
  background: #006599;
  color: rgb(0, 0, 0);
}
.social-icon--discord .tooltip {
  background: #006599;
  color: currentColor;
}
.social-icon--discord .tooltip:after {
  border-top-color: #006599;
}

.social-icon--call {
  background: #00be49;
  color: #fff;
}
.social-icon--call .tooltip {
  background: #00be49;
  color: currentColor;
}
.social-icon--call .tooltip:after {
  border-top-color: #00be49;
}
.social-icon--instagram {
  background: #527fa6;
  color: #fff;
}
.social-icon--instagram .tooltip {
  background: #527fa6;
  color: currentColor;
}
.social-icon--instagram .tooltip:after {
  border-top-color: #527fa6;
}
.social-icon--email {
  background: #ef5a92;
  color: #fff;
}
.social-icon--email .tooltip {
  background: #ef5a92;
  color: currentColor;
}
.social-icon--email .tooltip:after {
  border-top-color: #ef5a92;
}
.social-icon--github {
  background: #4284c0;
  color: #fff;
}
.social-icon--github .tooltip {
  background: #4284c0;
  color: currentColor;
}
.social-icon--github .tooltip:after {
  border-top-color: #4284c0;
}
.social-icon i {
  position: relative;
  top: 1px;
}

.social-icon--call .tooltip {
  margin-top: -20px;
  width: 160px;
  height: 30px;
  background: rgb(0, 190, 73);
  color: currentColor;
}

.social-icon--call .tooltip .num{
  margin-top: -8px;
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.contact {
  font-size: medium;
  margin-top: 30px;
  
}