@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
}

.logo {
  height: 100px;
}

.main {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/351/469/119/5bd00e379be84-wallpaper-preview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  color: honeydew;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-top: 10%;
  margin: auto;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.main h1 {
  font-size: 100px;
  padding-top: 10%;
  margin: auto;
  text-align: center;
}

.icon-down a span {
  color: white;
  margin-top: 40px;
  padding: 20px;
  border-radius: 30%;
  transition: 0.5s;
}

.icon-down a span:hover {
  background: #007bff;
  border-radius: 50%;
}

.info {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: honeydew;
  width: 100%;
  padding: 10rem;
  text-align: center;
  background-color: rgba(0, 123, 255, 0.4);
}

.description h6 {
  font-size: 2rem;
}

.team {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: honeydew;
  width: 100%;
  padding: 4rem 12rem;
  text-align: center;
  background-color: rgba(0, 123, 255, 0.4);
}

.team h2 {
  margin: 40px;
}

.team-description h6 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 576px) {
  .description h6 {
    font-size: 1rem;
  }

  .info {
    padding: 2rem;

  }

  .team {
    padding: 2rem 5rem;
  }

}