:root { 
    --primary-color: rgb(32, 32, 32);
    --secondary-color: #2c2c2c;
    --font-color: #202020;
    --bg-color: rgb(226, 226, 226);
    --heading-color: #c5c5c5;
    --th-color: #474646;
    --td-color: #000136;
  }
  
  [data-theme="dark"] {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #818cab;
    --font-color: #ffffff;
    --bg-color: #00000f;
    --heading-color: #000a2b9a;
    --th-color: #c1c0f1;
    --td-color: #acacac;
  }

  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 100%;
  }

  table {
    margin: auto;
    margin-top: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    
    margin-bottom: 30px;
    
  }
  
  th {
    background-color: var(--th-color);
    color: var(--font-color);
    text-align: left;
    padding: 8px;
  }

  td {
    text-align: left;
    padding: 8px;
    background-color: ;
  }
  
  tr:nth-child(even) {
    background-color: var(--td-color);
  }