:root { 
    --primary-color: rgb(32, 32, 32);
    --secondary-color: #2c2c2c;
    --font-color: #202020;
    --bg-color: rgb(226, 226, 226);
    --heading-color: #c5c5c5;
    --th-color: #474646;
    --td-color: #000136;
  }
  
  [data-theme="dark"] {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #818cab;
    --font-color: #ffffff;
    --bg-color: #00000f;
    --heading-color: #000a2b9a;
    --th-color: #c1c0f1;
    --td-color: #acacac;
  }

  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 100%;
  }

  table {
    margin: auto;
    margin-top: 30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    
    margin-bottom: 30px;
    
  }
  
  th {
    background-color: var(--th-color);
    color: var(--font-color);
    text-align: left;
    padding: 8px;
  }

  td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: var(--td-color);
  }

.button {
  margin-top: 30px;
  margin-left: 5%;
}

.social {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.stars {
  transition: 0.5s ease;
}

.stars:hover {
  font-size: 3.5rem;
  color: cyan;
}

.phone {
  padding: 0;
  margin: 80px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  
}

.chat {
  background: var(--heading-color);
  padding: 1%;
  width: 300px;
  height: 170px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  -moz-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  box-shadow: 0px 0px 5px 1px var(--secondary-color);
}

.chat a {
  color: var(--chat-color);
}
