body {
    background-color: var(--bg-color);
    color: blanchedalmond;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
  }
  
  [data-theme="dark"] {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #2c2c2c;
    --font-color: #202020;
    --bg-color: rgb(226, 226, 226);
    --heading-color: #c5c5c5;
  }
  
  :root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #818cab;
    --font-color: #ffffff;
    --bg-color: #00000f;
    --heading-color: #000a2b9a;
  }

  .row {
    display: flex;
  }
  
  .task-list {
    margin-top: 100px;
  }
  
  .tasks {
    margin: auto;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
    color: var(--font-color);
    background-color: var(--heading-color);
    width: 400px;
    height: 20%;
    -webkit-box-shadow: 0px 0px 5px 1px var(--secondary-color);
    -moz-box-shadow: 0px 0px 5px 1px var(--secondary-color);
    box-shadow: 0px 0px 5px 1px var(--secondary-color);
  }
  
  .tasks p {
    width: 50%;
  }
  
  #catocery {
    margin-left: -80;
  }
  
  
  
  .buttons {
    margin-top: -2%;
    display: block;
    float: right;
  }
  
  #catocery.btn.btn-primary {
    background-color: var(--bg-color);
    color: var(--font-color);
  }

.age {
    float: right;
    -webkit-box-shadow: 0px 0px 5px 1px var(--secondary-color);
    -moz-box-shadow: 0px 0px 5px 1px var(--secondary-color);
    box-shadow: 0px 0px 5px 1px var(--secondary-color);
    border-radius: 10px;
    width: 120px;
    height: 25px;
    text-align: center;
    
    color: white;
    background-color: rgb(0, 2, 95);
}

.age h5 {
    margin-top: 20px;
}

@media only screen and (max-width: 450px) {
    .tasks {
        width: 300px;
    }
  }
  