@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
  background-color: var(--bg-color);
  color: blanchedalmond;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

#row1 {
  display: flex;
}

.task-list {
  margin-top: 100px;
}

.tasks {
  float: left;
  margin-top: 10px;
  margin-left: 10%;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
  color: var(--font-color);
  background-color: var(--heading-color);
  width: 60%;
  height: 20%;
  -webkit-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  -moz-box-shadow: 0px 0px 5px 1px var(--secondary-color);
  box-shadow: 0px 0px 5px 1px var(--secondary-color);
}

.tasks p {
  width: 50%;
}

#catocery {
  margin-left: -80;
}

#id {
  float: right;
  width: 100px;
  height: 20px;
  font-size: 13px;
  padding: 0%;
  border: 0rem;
}

.buttons {
  margin-top: -2%;
  display: block;
  float: right;
}

#catocery.btn.btn-primary {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.filterDiv {
  background-color: var(--heading-color);
  color: var(--font-color);
  float: right;
  width: 20%;
  -webkit-box-shadow: -1px 2px 5px var(--secondary-color);
  -moz-box-shadow: -1px 2px 5px var(--secondary-color);
  box-shadow: -1px 2px 5px var(--secondary-color);
  border-radius: 10px;
  padding: 50px;
  margin-top: 3%;
  left: 73%;
  position: fixed;
}

.a {
  color: aliceblue;
}

@media only screen and (max-width : 1200px) {}

@media only screen and (max-width : 992px) {
  .tasks p {
    width: 70%;
  }

}

@media only screen and (max-width : 768px) {

  .tasks p {
    width: 60%;
  }

  .tasks {
    width: 83%;
  }

  #row1 {
    width: 100%;
    margin-top: 10%;
  }

}

@media only screen and (max-width: 576px) {
  #row1 {
    width: 100%;
    margin-top: 20%;
  }

  #catocery.btn.btn-success {
    margin-top: auto;
  }

  .tasks p {
    width: 90%;
  }

  .tasks {
    margin-left: 9%;
    width: 90%;
  }

  #catocery {
    margin-left: auto;
  }

}